@font-face {
    font-family: 'Forestine';
    src: url(../fonts/Forestine-Regular.woff) format('woff2'),
        url(../fonts/Forestine-Regular.woff2) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hoky Mint';
    src: url(../fonts/HokyMint-Regular.woff) format('woff2'),
        url(../fonts/HokyMint-Regular.woff2) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



body {
    height: 100vh;
    /*   background: linear-gradient(to bottom, #ffc6f9 0%, #00fff0 100%); */
    /*background-color: black;*/
}

header {
    height: 35px;
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
}

a {
    text-decoration: none;
}

.header-right {
    font-size: 15px;
    display: flex;
    margin-right: 10px;
}

.header-logo a {
    font-size: 15px;
    display: flex;
    color: #FFABBE;
    margin-left: 10px;
    font-weight: bold;
}


.header-right a {
    color: #ffffff;
    font-weight: bold;

}

header a::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #ffffff;
    bottom: -3px;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: all 0.3s ease-in-out;
}

header a:hover::after {
    transform: scale(1, 1);
}

.angel {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.angel_content {
    position: absolute;
    top: 40vh;
    left: 100px;
}

.contact {
    margin-left: 10px;
}