@font-face {
    font-family: 'Forestine';
    src: url(../fonts/Forestine-Regular.woff) format('woff2'),
        url(../fonts/Forestine-Regular.woff2) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hoky Mint';
    src: url(../fonts/HokyMint-Regular.woff) format('woff2'),
        url(../fonts/HokyMint-Regular.woff2) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



body {
    height: 100vh;
    /*   background: linear-gradient(to bottom, #ffc6f9 0%, #00fff0 100%); */
    /*background-color: black;*/
}

header {
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;


}

.header-right {
    display: flex;
}

.header-logo a {
    display: flex;
    font-family: 'Forestine';
    color: #FFABBE;
}

.header-cv a {
    display: flex;
    color: #ffffff;
    font-family: 'Forestine';
}

.header-right a {
    color: #ffffff;
    font-family: 'Forestine';
}

h6 {
    font-size: 20px;
    padding-top: 50px;
    padding-left: 20px;
    color: black;
}

h5 {
    font-size: 20px;
    padding-top: 50px;
    padding-left: 20px;
    color: black;
}

h1 {
    /* font-family: 'Sofia Sans', sans-serif; */
    font-family: 'Aboreto', cursive;
    font-size: 200px;
    color: #FAFF00;
    padding: 100px 20px;
}

.about {
    margin-right: 7px;
}

.firstdiv-bg {
    height: 100vh;
    background-image: url(../images/Rectangle\ 6.jpg);
}

img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-top: 57px;
}

.project1 {}